.welcome {
    position: fixed;
    top: 0;
    background: linear-gradient(to right bottom, rgba(69, 78, 83, .85), rgba(222, 78, 5, .5));
    width: 100%;
    height: 100%;
    z-index: 1;
    font-size: 1.75rem;
    font-weight: 500;
}
.top {
    position: relative;
    top: 40%;
    color: white;
    transform: translateY(-40%);
}
.bottom {
    position: relative;
    top: 55%;
    color: white;
    transform: translateY(-55%);
}
.bottom i {
    position: relative;
    top: 20px;
}
.outer {
    background-color:white;
    box-shadow:#9e9e9e 0 5px 10px;
    padding: 0;
    border-radius: .5rem;
    overflow: hidden;
}
.col-10 {
    margin-bottom: 30px;
}
.col-10 img {
    object-fit: cover;
    height: inherit;
    width: 100%;
}
.card {
    box-shadow: 0 0 5px #434f51;
    border: none;
}
.card-footer span i {
    font-size: 1.5rem;
    color: #444d53;
    margin-right: .5rem;
}
.inspire-w {
    height: 125px;
    width: 232px;
}
.investmnt-w {
    height: 125px;
    width: 125px;
}
.prod {
    color:#3c5988;
}

@media (max-width: 578px) {
    .outer {
        width: 95%;
    }
    .inspire-w {
        height: 63px;
        width: 116px;
    }
    .investmnt-w {
        height: 63px;
        width: 63px;
    }
    .bottom i {
        top: 5px;
        font-size: 2rem;
    }
    .bottom {
        top: 50%;
        transform: translateY(-50%);
    }
}